/* Large desktop */
@media (min-width: 1200px) { 

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	
}

/* Landscape phones and down */
@media (max-width: 480px) {

}

/* Portrait phone to landscape phone */
@media (min-width: 319px) and (max-width: 479px) {
	.recaptcha {
		transform:scale(0.83);
		-webkit-transform:scale(0.83);
		transform-origin:0 0;
		-webkit-transform-origin:0 0;
	}
}